/*________________________

name: STANDARD CSS FILE
version: 1
date: 05/03/2019
author: Le Koj
website: Writing class

_________________________*/

  /*** Initial CSS settings  ***/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

a {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

/*** General body settings  ***/
body {
background-color: #464646;   /*-- white background  --*/

color: #000;        /*-- black text  --*/
font-family: "Source Sans Pro", Helvetica,sans-serif, verdana, Arial;
font-size: 1em;        /*-- 14px of 16px --*/
font-weight: normal;
text-align: left;     /*-- centered text placement  --*/

min-width: 320px;

border: 10px solid black;
}

.body-container {
  width: 100%;
  height: auto;
}

.fullscreen-wrapper {
  width: 100%;
  height: 100vh;

  background-image: url("../image/jgdoesfans_site_mock.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  border: 10px solid red;
}
